# PHP / Composer
vendor/

# System Config
public/config.php

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
public/assets/uploads/*.csv
public/assets/uploads/*.jpg
public/assets/uploads/*.jpeg
public/assets/uploads/*.png
